<div class="justify-content-center text-center">
<h1>Mission & Bylaws</h1>

<h2>Core Values</h2>

<p>Gnomes are green
and they are not mean
To each other
Or earth, our mother</p>

<h3>Definitions</h3>
<p>
	Gnoom- A unique community that decides it's own rules
	<br/>under contract with Gnomadic to be green and be cool
</p>

<p>
	Gnomad- A person who wants to go into a gnoom,
	<br/>who signs a contract agreeing to be green and be cool
</p>

<p>
	Donsy- A gnoom project in progress with multiple gnomes,
	<br/>working to improve the state of their home
</p>

<p>
	Gnome- A gnomad, once donsy aligned, 
	<br/>who contributes to donsy plans and designs
</p>

<p>
	Owl- A gnome found to be very wise,
	<br/>who knows how to be fair and did naturally rise
</p>

<p>
	Green- Good to the earth and to the air. 
	<br/>For the waters, animals, plants, gnomies always care
</p>

<p>
	Cool- Not aggressive toward gnomes, gnomads, sisters or brothers.
	<br/>No force, no fraud, no coercion of others.
</p>

<h2>Community</h2>

<p>
	Gnomes come from afar to build a network of gnooms
	<br/>With many donsies, they have much to do
	<br/>Gnomies love their gnooms and joining together
	<br/>In gardens, woods, fishing and in all sorts of weather
	<br/>Gnomies in gnooms get along well
	<br/>with spiritual flow and funny stories to tell
	<br/>Witty, and smart, such good company
	<br/>A gnoom full of gnomes you must see to believe
</p>

<h2>Homelessness</h2>

<p>
	Gnomies move about, day after day
	<br/>It truly is the gnomad way
	<br/>But sometimes a gnome will look and see
	<br/>A gnomad with nowhere to be
	<br/>It makes gnomes sad to see the pain
	<br/>To see gnomads out in the snow and the rain
	<br/>So gnomies team up and they build up the gnooms
	<br/>So unsheltered gnomads have free food and a room
</p>

<h2>Gnome Decision-Making Structure</h2>

<p>
	Any gnomad can choose to become a gnome
	<br/>And join a gnoom, a safe warm home
	<br/>They agree to be nice to people and land
	<br/>From there they choose how to give a hand
	<br/>
	<br/>And many hands a donsy makes
	<br/>To connect and share for project sake
	<br/>But an active donsy shouldn't be disturbed for creative process can be easily curbed
	<br/>And gnomes get grumpy, so to avoid all of that
	<br/>New gnomes get added once they learn all the facts
	<br/>And agree to attend any donsies they choose
	<br/>Often enough to stay up on the news
	<br/>
	<br/>And from each donsy naturally arise,
	<br/>a group of owls, who have shown to be wise
	<br/>Who make the call when there's a stall
	<br/>So ultimately donsies get to the prize
</p>

<h2>Sustainable Agriculture</h2>

<p>
	Gnomes sustain from what they grow on their land,
	<br/>and bring to local markets excess when they can
	<br/>They use many methods for growing green,
	<br/>integrating 'ponics and permaculture means.
</p>

<h2>Utility Sustainability</h2>

<p>
	Gnomies they like their web3 and their tech,
	<br/>so energy needs must always be met
	<br/>To be green, gnomes tap from many sources,
	<br/>like solar, hydro electric, and even manure from horses
</p>

<h2>Social Services</h2>

<p>
	Many hurt gnomads need a lot of care,
	<br/>so kind hearted gnomies are trained to be there,
	<br/>to counsel, advise, educate and to train, and help gnomads get on their feet again, and using gamified strategies to promote social good,
	<br/>gnomies encourage all to give as they should
</p>

<h2>Land Development</h2>

<p>
	Gnomes are eco-friendly in design of their homes
	<br/>using eco-conscious methods to build structures and domes.
	<br/>They re-invigorate both urban and rural spaces
	<br/>by growing food in normal and unusual places.
</p>

<h2>Farmer Inclusion</h2>

<p>
	Farmers are very good friends of the gnomes
	<br/>and many desire to share their homes
	<br/>To become the gnooms, and be cool and green
	<br/>And Gnomes help with donsies they may never have seen
	<br/>Like permaculture, soil conservation,
	<br/>or new ways of doing irrigation
</p>

<h2>Web 3</h2>
<p>
	Gnomes have a website so log-in and see
	<br/>It's where homesteaders and gnomads connect to meet
	<br/>Profiles share what they want to give
	<br/>in land, money, time, labor, expertise and/or skills
	<br/>From there everyone does formally agree
	<br/>that they will be green and cool, you see
	<br/>Because gnomes aren't mean, they're good to all,
	<br/>to black, white, rich, poor, big, or small
	<br/>And to mother earth, they are so kind
	<br/>So continuing through the site you'll find
	<br/>Ways to help your neighbors and the land
	<br/>Opportunities to chip in and give a hand
	<br/>As you do your Quests and good deeds,
	<br/>you'll be rewarded with money, crypto, NFTs
	<br/>or goods, or services, whatever is fair
	<br/>And the site will also help get things you need there
	<br/>If you have a need as Maslow described
	<br/>Enter it into the site's gnomie mind
	<br/>and Quests will be made to suit your needs
	<br/>And gnomads and gnomies will likely see
	<br/>and gnombassadors might give a hand,
	<br/>gnoom volunteers learning on the land
	<br/>As apprentices they can learn a trade
	<br/>Advancing with each ability made
	<br/>Badges mean you get extra cred
	<br/>As someone who has advanced ahead
	<br/>And can teach to others what you know
	<br/>So moving forward you both grow
	<br/>But that's not all, so don't you fear
	<br/>Another level exists here
	<br/>where gnomes, they play in AR space
	<br/>with a mission to save this world, this place
	<br/>It's really complex this gnomie site
	<br/>But we think that it works alright
</p>

<h2>Future Plans</h2>

<p>
	Mobile donsies we plan to see,
	<br/>with markets and kitchens where gnomads and gnomes eat free
	<br/>expanded by further mobile designs, like haircare, dog training and the healing aligned.
	<br/>
	<br/>Gnomies also like to green
	<br/>in places previously unseen
	<br/>Replacing lawns with plants to eat
	<br/>And seeding spots along the streets
	<br/>Growing upward, solar, polyculture...
</p>

<h3>Gnomadics's goal is to love people and the earth, our mother</h3>
</div>