// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar *:hover, a:hover {
	background: none;
} 

a {
	text-decoration: none;
}

#appcontent {
	padding: 2em;
}

input, textarea {
	width: 100%;
}

#alert {
  color: crimson;
}


.countdownclock {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	.container {
    width: 50vw;
    text-align: center;
	
		section{      
			display: flex;
			justify-content:space-around;
		}	   
	}

	h1 {
	  font-weight: normal;
	  letter-spacing: .125rem;
	  text-transform: uppercase;
	}

	li {
	  display: inline-block;
	  font-size: 1.5em;
	  list-style-type: none;
	  padding: 1em;
	  text-transform: uppercase;
	}

	li span {
	  display: block;
	  font-size: 1.5rem;
	}

	.emoji {
	  display: none;
	  padding: 1rem;
	}

	.emoji span {
	  font-size: 4rem;
	  padding: 0 .5rem;
	}
}

.splashpagesignupform {
	text-align: center;

	a {
		//change the font and whatever of the sign up link
	}

}